@import "./utils/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
.header-background  {
    background-color: $header-background;
}
.footer-background {
    background-color: $footer-background;
}
.color-link {
    color: $color-link;
    span{
        transition: all .5s;
      }
      span:nth-child(2){
        transition-delay: .1s;
      }
      span:nth-child(3){
        transition-delay: .2s;
      }
      span:nth-child(4){
        transition-delay: .3s;
      }
      &:hover{
        span{
          font-weight: 700;
        }
        span:nth-child(4){
          transition-delay: .3s;
        }
        span:nth-child(3){
          transition-delay: .2s;
        }
        span:nth-child(2){
          transition-delay: .1s;
        }
        span:nth-child(1){
          transition-delay: 0s;
        }
      }
}
a:hover {
  color: $link-hover;
}
.icon-nav {
    font-size: 1.2em;
}
.card-flex {
  flex: 1
}
.icons-menu {
  display: inline;
  float: right;
  /*transform: translate(0px, 39px);*/ 
}
.icon-nav-1 {
  font-size: 1.2em;
  transform: translate(-15px, 39px);
}
.icon-nav-2 {
  font-size: 1.2em;
  transform: translate(6px, 39px);
}
.teddie-name {
  color: $teddies-name;
}
.img-logo {
  width: 200px;
  @media (max-width: 420px) {
    width: 70%;
  }
  @media (min-width: 640px) {
    width: 50%;
  }
}