@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utils/variables";


.header-background  {
    background-color: $header-background;
}
.footer-background {
    background-color: $footer-background;
}
.color-link {
    color: $color-link;
    span{
        transition: all .5s;
      }
      span:nth-child(2){
        transition-delay: .1s;
      }
      span:nth-child(3){
        transition-delay: .2s;
      }
      span:nth-child(4){
        transition-delay: .3s;
      }
      &:hover{
        span{
          font-weight: 700;
        }
        span:nth-child(4){
          transition-delay: .3s;
        }
        span:nth-child(3){
          transition-delay: .2s;
        }
        span:nth-child(2){
          transition-delay: .1s;
        }
        span:nth-child(1){
          transition-delay: 0s;
        }
      }
}
a:hover {
  color: $link-hover;
}
.cart {
    font-size: 1.2em;
}
/*.cart-container {
  display: flex;
  justify-content: flex-end;
  transform: translate(19px,-77px);
}*/ 