//to get the same height in the card bootstrap class- where all the tedies are shown up
.card-flex {
  flex: 1
}
.teddie-name {
  color: $teddies-name;
}
// the size for the 'Ajouter au panier' button
.cart-text {
  font-size: 0.9em;
}
//the line that separates the products in cart page and the total
.line-break {
  width: 100%;
}
//select colors button 
.color-choices {
  @media (min-width: 992px) {
    width: 50%;
  }
}

.delete {
  cursor: pointer;
}
//invalid input form - class added dynamically 
.invalid {
  input {
  border-color: red;
  }
}
// when the input value is not correct in the form
.error-message {
  color: red;
}
// notification message your product was succesfully added to cart
#notification {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  &.success {
    color: #356759;
  }
  &.error {
    color: red;
  }
}